<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">


  <div class="container">
    <div class="header">
      <div class="search-wrapper">
        <select class="search-input" [(ngModel)]="filterStatus" (change)="applyFilter()">
          <option value="" disabled hidden>Status Meja</option>
          <option value="">Semua</option>
          <option value="tersedia">Tersedia</option>
          <option value="dipesan">Dipesan</option>
          <option value="digunakan">Digunakan</option>
        </select>
        <ion-icon name="chevron-down-outline" class="search-icon"></ion-icon>
      </div>
      <ion-icon name="scan" class="scan-icon" (click)="startScan()"></ion-icon>
    </div>

    <div class="grid-meja">
      <div *ngFor="let meja of filteredMejaList" class="card-meja">
        <div class="meja-logo">
          <ion-icon name="restaurant-outline"></ion-icon>
        </div>
        <div class="nomer-meja">
          <div>Meja {{ meja.nomor }}</div>
        </div>
        <div class="nomer-meja">Status : {{ meja.status }}</div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <ion-footer>
    <div class="bottom-navbar">
      <div class="nav-button" [routerLink]="['/meja-pelayan']">
        <ion-icon name="book-outline"></ion-icon>
      </div>
      <div class="nav-button" [routerLink]="['/konfirmasi-reservasi']">
        <ion-icon name="document-text-outline"></ion-icon>
      </div>
      <div class="nav-button" [routerLink]="['/pesann-langsung']">
        <ion-icon name="fast-food-outline"></ion-icon>
      </div>
      <div class="nav-button" [routerLink]="['/history-reservasi']">
        <ion-icon name="time-outline"></ion-icon>
      </div>
      <div class="nav-button" [routerLink]="['/status-meja']">
        <ion-icon name="clipboard-outline"></ion-icon>
      </div>
    </div>
  </ion-footer>

</ion-content>