<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header">
      <div class="search-wrapper">
        <select class="search-input">
          <option value="" disabled selected hidden>Status Meja</option>
          <option value="meja1">Terisi</option>
          <option value="meja2">Kosong</option>
        </select>
        <ion-icon name="chevron-down-outline" class="search-icon"></ion-icon>
      </div>
      <ion-icon name="scan" class="scan-icon"></ion-icon>
    </div>
    <div class="grid-meja">
      <div class="card-meja">
        <div class="meja-logo">
          <ion-icon name="restaurant-outline"></ion-icon>
        </div>
        <div class="nomer-meja">
          <div>Meja 01</div>
        </div>
      </div>
      <div class="card-meja">
        <div class="meja-logo">
          <ion-icon name="restaurant-outline"></ion-icon>
        </div>
        <div class="nomer-meja">
          <div>Meja 02</div>
        </div>
      </div>
      <div class="card-meja">
        <div class="meja-logo">
          <ion-icon name="restaurant-outline"></ion-icon>
        </div>
        <div class="nomer-meja">
          <div>Meja 03</div>
        </div>
      </div>
      <div class="card-meja">
        <div class="meja-logo">
          <ion-icon name="restaurant-outline"></ion-icon>
        </div>
        <div class="nomer-meja">
          <div>Meja 04</div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <ion-footer>
      <div class="bottom-navbar">
        <div class="nav-button">
          <ion-icon name="book-outline"></ion-icon>
        </div>
        <div class="nav-button">
          <ion-icon name="document-text-outline"></ion-icon>
        </div>

        <div class="nav-button">
          <ion-icon name="fast-food-outline"></ion-icon>
        </div>
        <div class="nav-button">
          <ion-icon name="time-outline"></ion-icon>
        </div>
        <div class="nav-button">
          <ion-icon name="clipboard-outline"></ion-icon>
        </div>
      </div>
    </ion-footer>
  </div>
</ion-content>