<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header">
      <ion-icon name="arrow-back-outline" class="icon" (click)="goBack()"></ion-icon>
      <div class="header-title">
        <p style="color: black;">Detail Reservasi</p>
      </div>
      <div class="icon-header">
        <ion-icon name="close-outline" class="icon2" (click)="closePage()"></ion-icon>
      </div>
    </div>

    <!-- Card Detail History -->
    <ion-card class="history-card" *ngIf="detailReservasi; else loading">
      <ion-card-content>
        <div class="detail-item">
          <strong>ID:</strong>
          <span>{{ detailReservasi.kode_reservasi }}</span>
        </div>
        <div class="detail-item">
          <strong>Tanggal:</strong>
          <span>{{ detailReservasi.tanggal}}</span>
        </div>
        <div class="detail-item">
          <strong>Jam :</strong>
          <span>{{ getJamDariSesi(detailReservasi.sesi) }}</span>
        </div>
        <div class="detail-item">
          <strong>Nama :</strong>
          <span>{{ detailReservasi.pengguna?.nama }}</span>
        </div>

        <div class="detail-item">
          <strong>jumlah tamu :</strong>
          <span>{{ detailReservasi.jumlah_tamu }}</span>
        </div>
        <!-- Header Menu -->
        <div class="detail-item">
          <div class="menu-detail" style="display: flex; flex-direction: row; gap: 60px;">
            <div class="detail-item">Nama Menu</div>
            <div class="detail-item">Qty</div>
            <div class="detail-item">Harga</div>
          </div>
        </div>
        <div class="menu-row" *ngFor="let item of detailReservasi.pesanan"
          style="display: flex; justify-content: space-between;">
          <span>{{ item.menu?.nama || 'Nama Menu' }}</span>
          <span>{{ item.jumlah }}</span>
          <span>{{ convertToNumber(item.harga) | currency:'IDR':'symbol':'1.0-0':'id' }}</span>
        </div>

        <div class="detail-item">
          <strong>Catatan:</strong>
          <ul class="catatan-list">
            <li *ngFor="let item of detailReservasi.pesanan">
              <strong>{{ item.menu.nama }}:</strong>
              {{ item.catatan ? item.catatan : 'Tidak ada catatan' }}
            </li>
          </ul>
        </div>


        <div class="detail-item">
          <strong>Total Harga:</strong>
          <!-- <span>{{ detailReservasi.total_harga }}</span> -->
          <span>{{ convertToNumber(detailReservasi.total_harga) | currency:'IDR':'symbol':'1.0-0':'id' }}</span>

        </div>


        <div class="detail-item">
          <strong>Metode Pembayaran :</strong>
          <span>{{ detailReservasi.pembayaran?.metode || '-' }}</span>
        </div>
        <div class="detail-item">
          <strong>Status Reservasi :</strong>
          <!-- <span>{{ detailReservasi.pembayaran?.metode || '-' }}</span> -->
          <span>{{ detailReservasi.status }}</span>
        </div>


        <ion-card *ngIf="detailReservasi.pelayan">
          <ion-card-header>
            <ion-card-title>Rating Pelayan</ion-card-title>
            <ion-card-subtitle>{{ detailReservasi.pelayan.nama }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="star-rating">
              <ion-icon *ngFor="let star of [1,2,3,4,5]" [name]="star <= ratingPelayan ? 'star' : 'star-outline'"
                (click)="setRating('pelayan', star)">
              </ion-icon>
            </div>
            <ion-item>
              <ion-label position="stacked">Ulasan</ion-label>
              <ion-textarea [(ngModel)]="ulasanPelayan"></ion-textarea>
            </ion-item>
            <ion-button expand="block" (click)="submitRatingPegawai('pelayan')">Kirim Rating Pelayan</ion-button>
          </ion-card-content>
        </ion-card>


        <ion-card *ngIf="detailReservasi.koki">
          <ion-card-header>
            <ion-card-title>Rating Koki</ion-card-title>
            <ion-card-subtitle>{{ detailReservasi.koki.nama }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="star-rating">
              <ion-icon *ngFor="let star of [1,2,3,4,5]" [name]="star <= ratingKoki ? 'star' : 'star-outline'"
                (click)="setRating('koki', star)">
              </ion-icon>
            </div>
            <ion-item>
              <ion-label position="stacked">Ulasan</ion-label>
              <ion-textarea [(ngModel)]="ulasanKoki"></ion-textarea>
            </ion-item>
            <ion-button expand="block" (click)="submitRatingPegawai('koki')">Kirim Rating Koki</ion-button>
          </ion-card-content>
        </ion-card>



      </ion-card-content>
    </ion-card>

    <div class="ion-text-center" style="margin-bottom: 30px;" *ngIf="qrData">
      <qrcode [qrdata]="qrData" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
      <p>QR Data: {{ qrData }}</p>
    </div>

    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>

    <!-- footer -->
    <ion-footer>
      <div class="bottom-navbar">
        <div class="nav-button" [routerLink]="['/home']">
          <ion-icon name="home-outline"></ion-icon>
        </div>
        <div class="nav-button" [routerLink]="['/tanggal']">
          <ion-icon name="book-outline"></ion-icon>
        </div>

        <div class="nav-button" [routerLink]="['/history']">
          <ion-icon name="document-text-outline"></ion-icon>
        </div>
        <div class="nav-button" [routerLink]="['/profile']">
          <ion-icon name="person-outline"></ion-icon>
        </div>
      </div>
    </ion-footer>
  </div>
</ion-content>