<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header">
      <img src="assets/icon/ajar.jpg" alt="logo" class="logo">
      <div class="header-title">
        <p>Hi</p>
        <p>What Do You Want To Eat</p>
      </div>
      <div class="icon-header">
        <ion-icon name="notifications-outline" class="icon"></ion-icon>
      </div>
    </div>

    <div class="content">
      <input type="text" placeholder="Search" class="search">
    </div>

    <!-- 🔽 JUMBOTRON SLIDER -->
    <ion-slides pager="true" class="jumbotron-slider">
      <ion-slide>
        <div class="jumbotron">
          <h2>Promo 1</h2>
          <p>Diskon 50% hari ini!</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="jumbotron">
          <h2>Promo 2</h2>
          <p>Gratis ongkir!</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="jumbotron">
          <h2>Menu Spesial</h2>
          <p>Coba menu baru kami</p>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>