<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h2 style="color: black; text-align: center;">History Reservasi</h2>
    <div class="history-card">
      <div class="image-history">
        <img src="assets/icon/ajar.jpg" alt="iamge" class="image">
      </div>
      <div class="desc-history">
        <p>Muhammad Azdhar Ganteng</p>
        <p>12 April 2020</p>
      </div>
      <div class="price-history">
        <p>Rp. 20.000</p>
      </div>
    </div>
    <div class="history-card">
      <div class="image-history">
        <img src="assets/icon/ajar.jpg" alt="iamge" class="image">
      </div>
      <div class="desc-history">
        <p>Muhammad Azdhar Ganteng</p>
        <p>12 April 2020</p>
      </div>
      <div class="price-history">
        <p>Rp. 20.000</p>
      </div>
    </div>
    <!-- footer -->
    <ion-footer>
      <div class="bottom-navbar">
        <div class="nav-button">
          <ion-icon name="home-outline"></ion-icon>
        </div>
        <div class="nav-button">
          <ion-icon name="book-outline"></ion-icon>
        </div>
        <div class="nav-button">
          <ion-icon name="document-text-outline"></ion-icon>
        </div>
        <div class="nav-button">
          <ion-icon name="person-outline"></ion-icon>
        </div>
      </div>
    </ion-footer>
  </div>
</ion-content>