<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header">
      <ion-icon name="arrow-back-outline" class="icon" [routerLink]="['/jam']"></ion-icon>
      <div class="header-title">
        <p style="color: black;">Reservasi</p>
      </div>
      <div class="icon-header">
        <ion-icon name="close-outline" class="icon2"></ion-icon>
      </div>
    </div>
    <ion-card class="process-card">
      <ion-card-content>
        <div class="process-icons">
          <div class="step-icon" [routerLink]="['/tanggal']">
            <ion-icon name="calendar-outline"></ion-icon>
            <span>Tanggal</span>
          </div>
          <div class="arrow"><ion-icon name="chevron-forward-outline"></ion-icon></div>
          <div class="step-icon" [routerLink]="['/jam']">
            <ion-icon name="time-outline"></ion-icon>
            <span>Waktu</span>
          </div>
          <div class="arrow"><ion-icon name="chevron-forward-outline"></ion-icon></div>
          <div class="step-icon active" [routerLink]="['/pilih-menu']">
            <ion-icon name="restaurant-outline"></ion-icon>
            <span>Menu</span>
          </div>
          <div class="arrow"><ion-icon name="chevron-forward-outline"></ion-icon></div>
          <div class="step-icon" [routerLink]="['/payment']">
            <ion-icon name="card-outline"></ion-icon>
            <span>Bayar</span>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <div class="category" style="margin-top: 50px;">
      <div class="category-button" [class.active]="selectedCategory === 'All'" (click)="onCategoryClick('All')">
        <img src="assets/icon/food.png" alt="logo" class="logo" />
        <h3>All</h3>
      </div>
      <div class="category-button" [class.active]="selectedCategory === 'Snack'" (click)="onCategoryClick('Snack')">
        <img src="assets/icon/food.png" alt="logo" class="logo" />
        <h3>Snack</h3>
      </div>
      <div class="category-button" [class.active]="selectedCategory === 'Food'" (click)="onCategoryClick('Food')">
        <img src="assets/icon/food.png" alt="logo" class="logo" />
        <h3>Food</h3>
      </div>
      <div class="category-button" [class.active]="selectedCategory === 'Drink'" (click)="onCategoryClick('Drink')">
        <img src="assets/icon/food.png" alt="logo" class="logo" />
        <h3>Drink</h3>
      </div>
    </div>


    <div class="popular" style="margin-top: 20px;">
      <div class="popular-item" *ngFor="let item of itemList; let i = index">
        <!-- Bulatan merah angka -->
        <div class="badge" *ngIf="item.jumlah > 0">{{ item.jumlah }}</div>
        <img [src]="imageBaseUrl + item.gambar" alt="{{ item.nama }}" class="logo" />
        <h3>{{ item.nama }}</h3>
        <div class="price">
          <h3>Rp. {{ item.harga | number:'1.0-0' }}</h3>
          <ion-icon name="add-circle-outline" class="add-icon" (click)="tambah(i)"></ion-icon>
          <ion-icon name="remove-circle-outline" class="remove-icon" (click)="kurang(i)"></ion-icon>
        </div>

        <!-- Input catatan -->
        <ion-textarea *ngIf="item.jumlah > 0" [(ngModel)]="item.catatan" placeholder="Masukkan catatan (opsional)"
          auto-grow="true" rows="1" (ionChange)="updatePesananKeService()" style="margin-top: 5px;"></ion-textarea>
      </div>
    </div>

    <div *ngIf="adaPesanan()" style="margin-top: 30px; display: flex; justify-content: space-between;">
      <ion-button color="medium" (click)="cancelPesanan()">Cancel</ion-button>
      <ion-button color="primary" (click)="konfirmasiPesanan()">Konfirmasi</ion-button>
    </div>



  </div>
</ion-content>