<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header">
      <ion-icon name="arrow-back-outline" class="icon"></ion-icon>
      <div class="header-title">
        <p style="color: black;"></p>
      </div>
      <div class="icon-header">
        
      </div>
    </div>

    <!-- Card Detail History -->
     <ion-card class="history-card">
      <ion-card-content>
        <div class="detail-item">
          <strong><ion-icon name="person"></ion-icon></strong>
          <span>Muhammad Azdhar</span>
        </div>
        <div class="detail-item">
          <strong><ion-icon name="time-outline"></ion-icon></strong>
          <span>17:00</span>
        </div>
        <div class="detail-item">
          <strong><ion-icon name="people"></ion-icon></strong>
          <span>2 Orang</span>
        </div>
        <div class="detail-item">
          <select>
            <option value="" disabled selected hidden>Pilih Meja</option>
            <option value="3">No 3 - 3 Orang</option>
            <option value="5">No 5 - 2 Orang</option>
          </select>
        </div>
      </ion-card-content>
    </ion-card>
    <div class="button-group">
      <ion-button expand="block" color="primary">Konfirmasi</ion-button>
      <ion-button expand="block" color="danger">Batal</ion-button>
    </div>
  </div>
</ion-content>
