<ion-content [fullscreen]="true" class="sukses-content">
  <div class="sukses-container">
    <ion-icon name="checkmark-circle-outline" class="sukses-icon"></ion-icon>
    <h2 class="sukses-text">Pembayaran Berhasil!</h2>
    <p class="sukses-subtext" style="font-size: 25px; color: black;">
      Terima kasih sudah melakukan reservasi di resto kami
    </p>

    <!-- <p class="sukses-subtext" style="font-size: 20px; color: black; margin-top: 150px;" *ngIf="reservasi">
      Reservasi pada {{ reservasi.tanggal | date:'fullDate' }} untuk {{ reservasi.jumlah_tamu }} orang telah
      terkonfirmasi
    </p> -->

    <p class="sukses-subtext" style="font-size: 20px; color: black; margin-top: 150px;" *ngIf="reservasi">
      Reservasi pada {{ getTanggalIndonesia(reservasi.tanggal) }} untuk {{ reservasi.jumlah_tamu }} orang telah
      terkonfirmasi
    </p>

    <ion-button expand="block" class="lihat-reservasi-btn" routerLink="/history">
      Lihat Reservasi Saya
    </ion-button>

    <ion-button class="kembali-home-btn" routerLink="/home">
      Kembali ke Home
    </ion-button>
  </div>
</ion-content>