<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header">
      <img src="assets/icon/ajar.jpg" alt="logo" class="logo">
      <div class="header-title">
        <p>Hi</p>
        <p>What Do You Want To Eat</p>
      </div>
      <div class="icon-header">
        <ion-icon name="notifications-outline" class="icon"></ion-icon>
      </div>
    </div>
    <div class="content">
      <input type="text" placeholder="Search" class="search">
    </div>
    <div class="jumbotron">
      <h2>Today's Special</h2>
      <p>Get 20% off for all pasta menus!</p>
      <ion-button color="primary" size="small">Order Now</ion-button>
    </div>
    <div class="category" style="margin-top: 50px;">
      <div class="category-button" (click)="selectCategory('semua')">
        <img src="assets/icon/food.png" alt="logo" class="logo" />
        <h3>All</h3>
      </div>
      <div class="category-button" (click)="selectCategory('snack')">
        <img src="assets/icon/food.png" alt="logo" class="logo" />
        <h3>Snack</h3>
      </div>
      <div class="category-button" (click)="selectCategory('makanan')">
        <img src="assets/icon/food.png" alt="logo" class="logo" />
        <h3>Food</h3>
      </div>
      <div class="category-button" (click)="selectCategory('minuman')">
        <img src="assets/icon/food.png" alt="logo" class="logo" />
        <h3>Drink</h3>
      </div>
    </div>


    <h2 style="color: black; margin-top: 50px;">MENU TERLARIS</h2>
    <div class="popular" style="margin-top: 20px;">
      <div class="popular-item" *ngFor="let item of terlarisList">
        <img [src]="imageBaseUrl + item.gambar" alt="{{ item.nama }}" class="logo">
        <h3>{{ item.nama }}</h3>
        <div class="price">
          <h3>Rp. {{ item.harga | number:'1.0-0' }}</h3>
          <ion-icon name="add-circle-outline" class="add-icon"></ion-icon>
        </div>
      </div>
    </div>

    <!-- menu tampil sesuai klik -->
    <h2 *ngIf="selectedTitle" style="color: black; margin-top: 50px;">{{ selectedTitle }}</h2>

    <div class="popular" style="margin-top: 20px;">
      <div class="popular-item" *ngFor="let item of selectedItems">
        <img [src]="imageBaseUrl + item.gambar" alt="{{ item.nama }}" class="logo">
        <h3>{{ item.nama }}</h3>
        <div class="price">
          <h3>Rp. {{ item.harga | number:'1.0-0' }}</h3>
          <ion-icon name="add-circle-outline" class="add-icon"></ion-icon>
        </div>
      </div>
    </div>




    <!-- footer -->
    <ion-footer>
      <div class="bottom-navbar">
        <div class="nav-button">
          <ion-icon name="home-outline"></ion-icon>
        </div>
        <div class="nav-button" [routerLink]="['/tanggal']">
          <ion-icon name="book-outline"></ion-icon>
        </div>

        <div class="nav-button"[routerLink]="['/history']">
          <ion-icon name="document-text-outline"></ion-icon>
        </div>
        <div class="nav-button"  [routerLink]="['/profile']">
          <ion-icon name="person-outline"></ion-icon>
        </div>
      </div>
    </ion-footer>
  </div>
</ion-content>