<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header">
    <div class="search-wrapper">
      <input type="search" placeholder="Search..." class="search-input" />
      <ion-icon name="search" class="search-icon"></ion-icon>
    </div>
    <ion-icon name="scan" class="scan-icon"></ion-icon>
    </div>
    <div class="card-meja" style="background-color: rgb(110, 255, 110);">
      <div class="user-meja">
        <div style="color: #3880ff;">ID</div>
        <div>12838123</div>
      </div>
      <div class="user-meja">
        <div><ion-icon name="person-outline"></ion-icon></div>
        <div>Ajar Ganteng</div>
      </div>
      <div class="waktu-meja">
        <div><ion-icon name="time-outline"></ion-icon></div>
        <div>19:00-21:00</div>
      </div>
    </div>
    <div class="card-meja">
      <div class="user-meja">
        <div style="color: #3880ff;">ID</div>
        <div>12838123</div>
      </div>
      <div class="user-meja">
        <div><ion-icon name="person-outline"></ion-icon></div>
        <div>Hikaru Sang Colikiawan</div>
      </div>
      <div class="waktu-meja">
        <div><ion-icon name="time-outline"></ion-icon></div>
        <div>12:00-14:00</div>
      </div>
    </div>
    <!-- footer -->
    <ion-footer>
      <div class="bottom-navbar">
        <div class="nav-button">
          <ion-icon name="book-outline"></ion-icon>
        </div>
        <div class="nav-button">
          <ion-icon name="document-text-outline"></ion-icon>
        </div>

        <div class="nav-button">
          <ion-icon name="fast-food-outline"></ion-icon>
        </div>
        <div class="nav-button">
          <ion-icon name="time-outline"></ion-icon>
        </div>
        <div class="nav-button">
          <ion-icon name="clipboard-outline"></ion-icon>
        </div>
      </div>
    </ion-footer>
  </div>
</ion-content>